body {
  margin: 0;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url(./fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto Black';
  src: url(./fonts/roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: 'Roboto Meduim';
  src: url(./fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: 'Roboto Light';
  src: url(./fonts/roboto/Roboto-Light.ttf);
}
*{
  font-family: 'Roboto Light';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-area{
  display: flex;
  height: 90px;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
}
.input-area .input-history{
  width: 95%;
  height: 35px;
  font-size: 14px;
  line-height: 25px;
  text-align: right;
  color: rgb(138, 138, 138);
  align-self: center;
}
.input-area input{
  border: 0;
  width: 95%;
  height: 90px;
  background-color: rgb(245, 245, 245);
  text-align: right;
  font-size: 50px;
  font-family: 'Roboto Meduim';
  align-self: center;
}
.wrapper{
  max-width: 335px;
  display: block;
  margin: auto;
  background-color: rgb(245, 245, 245);
}
.controller-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 370px;
}
.btn{
  display: inline-flex;
  font-size: 1.4em;
  flex-basis: 80px;
  height: 60px;
  line-height: 60px;
  background-color: white;
  justify-content: space-around;
}
.btn.font-medium{
  font-weight: 900;
}
.btn:hover{
  background-color: rgb(218, 216, 216);
  cursor: pointer;
}